# Project: 01-2024 LaborDE Analysis
## Author: Nadia Ordonez
## Step2 LD German company merging

# Table of Contents
* [1. Introduction](#1.-Introduction)
* [2. Importing data](#2.-Importing-data)
    * [2.1 Importing libraries](#2.1-Importing-libraries)
    * [2.2 Importing dataframes](#2.2-Importing-dataframes)  
* [3. Merging companies Bundesland](#3.-Merging-companies-Bundesland)
    * [3.1 Key variable](#3.1-Key-variable)
    * [3.2 Merge](#3.2-Merge)
    * [3.3 Exporting dataframe](#3.3-Exporting-dataframe)
* [4. Merging companies regional](#4.-Merging-companies-regional)
    * [4.1 Key variable](#4.1-Key-variable)
    * [4.2 Merge](#4.2-Merge)
    * [4.3 Exporting dataframe](#4.3-Exporting-dataframe)

# 1. Introduction

Here, I will merge the German company data at the Bundesland and regional levels. Our client LaborDe is interested at addressing their business questions at these two levels.

# 2. Importing data

## 2.1 Importing libraries

In [1]:
#Import analytical libraries
import pandas as pd
import numpy as np
import os

## 2.2 Importing dataframes

In [2]:
# Project folder path into a string to easily retrieve data
path = r'C:\Users\Ich\Documents\01_2024_LaborDE_analysis'

### German companies

In [4]:
# Read the CSV file with UTF-8 encoding
# The encoding='utf-8' parameter ensures that the file is read in UTF-8 format, which supports German characters.
company_de = pd.read_csv(os.path.join(path, '02_Data', 'Prepared_data', 'all_company_de_step1.csv'), dtype={'plz_original': object, 'plz_imputed': object }, encoding='utf-8')

In [5]:
# See df shape
company_de.shape
# expected number of rows

(2393515, 8)

In [6]:
# See headers
company_de.head()

,company_number,company_name,registered_address,bundesland_en,labor,cancer,plz_original,plz_imputed
0,K1101R_HRB150148,olly UG (haftungsbeschränkt),"Waidmannstraße 1, 22769 Hamburg.",Hamburg,0,0,22769,22769
1,R1101_HRB81092,BLUECHILLED Verwaltungs GmbH,Oststr.,North Rhine-Westphalia,0,0,NaN,40549
2,H1101_H1101_HRB18423,Mittelständische Beteiligungsgesellschaft Brem...,"Langenstraße 2-4, 28195 Bremen.",Bremen,0,0,28195,28195
3,R1101_HRB45109,Albert Barufe GmbH,"Hans-Sachs-Straße 11, 40721 Hilden.",North Rhine-Westphalia,0,0,40721,40721
4,R1101_HRB37996,ITERGO Informationstechnologie GmbH,"ERGO-Platz 1, 40477 Düsseldorf.",North Rhine-Westphalia,0,0,40477,40477

### German population Bundesland

In [7]:
# Read the CSV file with UTF-8 encoding
# The encoding='utf-8' parameter ensures that the file is read in UTF-8 format, which supports German characters.
population_de = pd.read_csv(os.path.join(path, '02_Data', 'Prepared_data', 'population_bundesland_step1.csv'), encoding='utf-8')

In [8]:
# See df shape
population_de.shape
# expected number of rows

(16, 8)

In [9]:
# See headers
population_de.head()

,administration_unit_id,bundesland_de,area_sqkm,population,male,female,population_per_sqkm,gdp_mill_euro
0,1,Schleswig-Holstein,15804.30,2896712.0,1419457.0,1477255.0,183.0,112755
1,2,Hamburg,755.09,1841179.0,902048.0,939131.0,2438.0,144220
2,3,Niedersachsen,47709.51,7982448.0,3943243.0,4039205.0,167.0,339414
3,4,Bremen,419.36,682986.0,338035.0,344951.0,1629.0,38698
4,5,Nordrhein-Westfalen,34112.31,17932651.0,8798631.0,9134020.0,526.0,793790

### German population regional

In [7]:
# Read the CSV file with UTF-8 encoding
# The encoding='utf-8' parameter ensures that the file is read in UTF-8 format, which supports German characters.
regional_de = pd.read_csv(os.path.join(path, '02_Data', 'Prepared_data', 'population_regional_step1.csv'), dtype={'plz': object}, encoding='utf-8')

In [5]:
# See df shape
regional_de.shape
# expected number of rows

(8170, 6)

In [6]:
# See headers
regional_de.head()

     plz  habitants  area_sqkm     city   region bundesland
0  01067      11957   6.866839  Dresden  Dresden    Sachsen
1  01069      25483   5.339213  Dresden  Dresden    Sachsen
2  01097      14821   3.298022  Dresden  Dresden    Sachsen
3  01099      28018  58.505818  Dresden  Dresden    Sachsen
4  01108       5876  16.447222  Dresden  Dresden    Sachsen

# 3. Merging companies Bundesland

The German company dataframe will be merged with the Bundesland dataframe using the key variable Bundesland. Prior to the merge, the company dataframe will be grouped at the Bundesland level.

## 3.1 Key variable

In [13]:
# German company dataframe key variable Bundesland
company_de['bundesland_en'].value_counts(dropna = False)
# all 16 Bundesländer from Germany are listed

bundesland_en
North Rhine-Westphalia           505294
Bavaria                          412937
Baden-Württemberg                299894
Lower Saxony                     219162
Hesse                            195520
Berlin                           142570
Rhineland-Palatinate             109797
Saxony                            92364
Hamburg                           90427
Schleswig-Holstein                83243
Brandenburg                       57793
Saxony-Anhalt                     48918
Thuringia                         48541
Mecklenburg-Western Pomerania     37426
Saarland                          27738
Bremen                            21891
Name: count, dtype: int64

In [14]:
# Group by 'bundesland' and perform aggregations
result_df = company_de.groupby('bundesland_en').agg(
    company_total=('company_name', 'count'),
    labor_total=('labor', 'sum'),
    cancer_total=('cancer', 'sum'),
    plz_total=('plz_imputed', 'nunique')
).reset_index()

In [15]:
# See results
result_df.shape
# as expected all Bundelander are listed

(16, 5)

In [16]:
# See results
result_df
# all companies were grouped at the Bundesland level

,bundesland_en,company_total,labor_total,cancer_total,plz_total
0,Baden-Württemberg,299894,1381,133,2073
1,Bavaria,412937,1604,158,3160
2,Berlin,142570,668,75,1318
3,Brandenburg,57793,247,31,570
4,Bremen,21891,115,9,157
5,Hamburg,90427,340,33,962
6,Hesse,195520,812,139,1746
7,Lower Saxony,219162,806,121,1442
8,Mecklenburg-Western Pomerania,37426,183,24,462
9,North Rhine-Westphalia,505294,2112,267,2310
10,Rhineland-Palatinate,109797,441,60,1089
11,Saarland,27738,124,19,160
12,Saxony,92364,436,54,850
13,Saxony-Anhalt,48918,215,24,490
14,Schleswig-Holstein,83243,329,43,693
15,Thuringia,48541,202,22,503

In [17]:
# German population Bundesland dataframe key variable Bundesland
population_de['bundesland_de'].value_counts(dropna = False)
# all 16 Bundesländer from Germany are listed

bundesland_de
Schleswig-Holstein        1
Hamburg                   1
Niedersachsen             1
Bremen                    1
Nordrhein-Westfalen       1
Hessen                    1
Rheinland-Pfalz           1
Baden-Württemberg         1
Bayern                    1
Saarland                  1
Berlin                    1
Brandenburg               1
Mecklenburg-Vorpommern    1
Sachsen                   1
Sachsen-Anhalt            1
Thüringen                 1
Name: count, dtype: int64

### Creating a common key variable

Common values are present in both dataframes, these refer to the 16 Bundesländer in Germany. However, the values differ, since they are written in German and English. Here, I will create a 'administrative_unit_id'variable in the company_de df to assign the same values as described in the population_de df, thus creating a common key variable to perform the merge.

In [18]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'Schleswig-Holstein' , 'administration_unit_id'] = 1

In [19]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'Hamburg', 'administration_unit_id'] = 2

In [20]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'Lower Saxony', 'administration_unit_id'] = 3

In [21]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'Bremen', 'administration_unit_id'] = 4

In [22]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'North Rhine-Westphalia', 'administration_unit_id'] = 5

In [23]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'Hesse', 'administration_unit_id'] = 6

In [24]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'Rhineland-Palatinate', 'administration_unit_id'] = 7

In [25]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'Baden-Württemberg', 'administration_unit_id'] = 8

In [26]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'Bavaria', 'administration_unit_id'] = 9

In [27]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'Saarland', 'administration_unit_id'] = 10

In [28]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'Berlin', 'administration_unit_id'] = 11

In [29]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'Brandenburg', 'administration_unit_id'] = 12

In [30]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'Mecklenburg-Western Pomerania', 'administration_unit_id'] = 13

In [31]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'Saxony', 'administration_unit_id'] = 14

In [32]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'Saxony-Anhalt', 'administration_unit_id'] = 15

In [33]:
# Deriving a variable from the 'bundesland' variable
result_df.loc[result_df['bundesland_en'] == 'Thuringia', 'administration_unit_id'] = 16

In [34]:
# See results
result_df['administration_unit_id'].value_counts(dropna = False)
# counts values match with those previously recorded for the Bundesländer

administration_unit_id
8.0     1
9.0     1
11.0    1
12.0    1
4.0     1
2.0     1
6.0     1
3.0     1
13.0    1
5.0     1
7.0     1
10.0    1
14.0    1
15.0    1
1.0     1
16.0    1
Name: count, dtype: int64

In [35]:
# see results
result_df.head()

,bundesland_en,company_total,labor_total,cancer_total,plz_total,administration_unit_id
0,Baden-Württemberg,299894,1381,133,2073,8.0
1,Bavaria,412937,1604,158,3160,9.0
2,Berlin,142570,668,75,1318,11.0
3,Brandenburg,57793,247,31,570,12.0
4,Bremen,21891,115,9,157,4.0

In [36]:
# see data types of variables
result_df.dtypes

bundesland_en              object
company_total               int64
labor_total                 int64
cancer_total                int64
plz_total                   int64
administration_unit_id    float64
dtype: object

In [37]:
# see data types of variables
population_de.dtypes

administration_unit_id      int64
bundesland_de              object
area_sqkm                 float64
population                float64
male                      float64
female                    float64
population_per_sqkm       float64
gdp_mill_euro               int64
dtype: object

In [38]:
# converting the key variable to int64 to match datatypes before merging
result_df['administration_unit_id'] = result_df['administration_unit_id'].astype('int64')

In [39]:
# see data types of variables
result_df.dtypes
# it was changed to int64

bundesland_en             object
company_total              int64
labor_total                int64
cancer_total               int64
plz_total                  int64
administration_unit_id     int64
dtype: object

In [40]:
# see results
result_df.head()

,bundesland_en,company_total,labor_total,cancer_total,plz_total,administration_unit_id
0,Baden-Württemberg,299894,1381,133,2073,8
1,Bavaria,412937,1604,158,3160,9
2,Berlin,142570,668,75,1318,11
3,Brandenburg,57793,247,31,570,12
4,Bremen,21891,115,9,157,4

## 3.2 Merge

In [41]:
# Perform the merge
company_bundesland = result_df.merge(population_de, on='administration_unit_id')

In [42]:
# See results
company_bundesland
# all 16 Bundesländer are included

,bundesland_en,company_total,labor_total,cancer_total,plz_total,administration_unit_id,bundesland_de,area_sqkm,population,male,female,population_per_sqkm,gdp_mill_euro
0,Baden-Württemberg,299894,1381,133,2073,8,Baden-Württemberg,35748.20,11069533.0,5501693.0,5567840.0,310.0,572837
1,Bavaria,412937,1604,158,3160,9,Bayern,70541.61,13076721.0,6483793.0,6592928.0,185.0,716784
2,Berlin,142570,668,75,1318,11,Berlin,891.12,3644826.0,1792801.0,1852025.0,4090.0,179379
3,Brandenburg,57793,247,31,570,12,Brandenburg,29654.48,2511917.0,1239460.0,1272457.0,85.0,88800
4,Bremen,21891,115,9,157,4,Bremen,419.36,682986.0,338035.0,344951.0,1629.0,38698
5,Hamburg,90427,340,33,962,2,Hamburg,755.09,1841179.0,902048.0,939131.0,2438.0,144220
6,Hesse,195520,812,139,1746,6,Hessen,21115.67,6265809.0,3093044.0,3172765.0,297.0,323352
7,Lower Saxony,219162,806,121,1442,3,Niedersachsen,47709.51,7982448.0,3943243.0,4039205.0,167.0,339414
8,Mecklenburg-Western Pomerania,37426,183,24,462,13,Mecklenburg-Vorpommern,23293.61,1609675.0,793639.0,816036.0,69.0,53440
9,North Rhine-Westphalia,505294,2112,267,2310,5,Nordrhein-Westfalen,34112.31,17932651.0,8798631.0,9134020.0,526.0,793790
10,Rhineland-Palatinate,109797,441,60,1089,7,Rheinland-Pfalz,19851.82,4084844.0,2017576.0,2067268.0,206.0,171699
11,Saarland,27738,124,19,160,10,Saarland,2571.11,990509.0,486159.0,504350.0,385.0,38505
12,Saxony,92364,436,54,850,14,Sachsen,18449.95,4077937.0,2009619.0,2068318.0,221.0,146511
13,Saxony-Anhalt,48918,215,24,490,15,Sachsen-Anhalt,20454.31,2208321.0,1086679.0,1121642.0,108.0,75436
14,Schleswig-Holstein,83243,329,43,693,1,Schleswig-Holstein,15804.30,2896712.0,1419457.0,1477255.0,183.0,112755
15,Thuringia,48541,202,22,503,16,Thüringen,16202.39,2143145.0,1060814.0,1082331.0,132.0,71430

In [43]:
# See results
company_bundesland.shape

(16, 13)

## 3.3 Exporting dataframe

In [44]:
# Exporting to prepared data folder
#"index = False" avoids the automatic creation of an unnamed column in the exported csv file
company_bundesland.to_csv(os.path.join(path, '02_Data','Prepared_data', 'company_bundesland_step2.csv'), index = False)

# 4. Merging companies regional

The German company dataframe will be merged with the regional dataframe using the key variable postcode. Prior to the merge, the company dataframe will be grouped at the postcode level.

## 4.1 Key variable

In [8]:
# German company dataframe key variable plz_imputed
company_de['plz_imputed'].value_counts(dropna = False)
# There are 9511 unique postcodes extracted from the German company dataframe
# There is a biased towards the most common postcodes within a Bundesland, since nearly 58% of values were imputed
# There are nearly 2.3 M companies listed on the dataframe, some postcodes are very rich on the number of companies

plz_imputed
40549    297428
82031    266522
70173    178552
26789    139657
60325    103300
          ...
53178         1
44687         1
08279         1
49252         1
23113         1
Name: count, Length: 9511, dtype: int64

In [9]:
# Group the company df by plz
result_df = company_de.groupby('plz_imputed').agg(
    company_total=('company_name', 'count'),
    labor_total=('labor', 'sum'),
    cancer_total=('cancer', 'sum'),
    bundesland_en=('bundesland_en', lambda x: x.mode().iloc[0] if not x.mode().empty else None),
    plz_original=('plz_original', lambda x: x.mode().iloc[0] if not x.mode().empty else None)
).reset_index()

In [10]:
# See results
result_df.shape
# as expected 9511 observation are listed at the postcode level
# it is worthy to notice that in the company df there is a higher number of postcodes listed as in the regional_de df
# this can be expected since 28,278 different postal codes were awarded in Germany in 2018, including 8,181 for places, 
# 16,137 for mailboxes, 3,095 for major customers and 865 so-called "Aktions-PLZ" (e.g. for lottery games) 
# Also buildings might have their own postcode
# This explains the larger number of postcodes listed in this dataframe

(9511, 6)

In [11]:
# See results
result_df.head()
# all companies were grouped at postcode level

,plz_imputed,company_total,labor_total,cancer_total,bundesland_en,plz_original
0,01067,393,0,0,Saxony,01067
1,01069,107,0,0,Saxony,01069
2,01076,1,0,0,Saxony,01076
3,01097,127,1,0,Saxony,01097
4,01099,202,1,0,Saxony,01099

In [12]:
# German population regional dataframe key variable plz
regional_de['plz'].value_counts(dropna = False)
# There are 8170 unique postcodes, in our original dataframe not all German postcodes are listed
# During the merge I expect that some postcodes wont be matched, since there are more postcodes listed in the company df

plz
01067    1
75335    1
75397    1
75395    1
75394    1
        ..
37635    1
37633    1
37632    1
37627    1
99998    1
Name: count, Length: 8170, dtype: int64

## 4.2 Merge

In [13]:
# Based on the shapes of the dfs, 
# I already expect that some postcodes listed in the company_de df wont be found in the regional_de df,
# thus I will add an indicator to track those observations that were not matched

# Perform the merge with indicator
company_regional = result_df.merge(regional_de, left_on='plz_imputed', right_on='plz', how='left', indicator=True)

# Create a flag column based on the merge indicator
company_regional['not_matched'] = np.where(company_regional['_merge'] == 'left_only', 1, 0)

# Drop the indicator column if needed
company_regional = company_regional.drop('_merge', axis=1)

In [14]:
# See results
company_regional.head()

,plz_imputed,company_total,labor_total,cancer_total,bundesland_en,plz_original,plz,habitants,area_sqkm,city,region,bundesland,not_matched
0,01067,393,0,0,Saxony,01067,01067,11957.0,6.866839,Dresden,Dresden,Sachsen,0
1,01069,107,0,0,Saxony,01069,01069,25483.0,5.339213,Dresden,Dresden,Sachsen,0
2,01076,1,0,0,Saxony,01076,NaN,NaN,NaN,NaN,NaN,NaN,1
3,01097,127,1,0,Saxony,01097,01097,14821.0,3.298022,Dresden,Dresden,Sachsen,0
4,01099,202,1,0,Saxony,01099,01099,28018.0,58.505818,Dresden,Dresden,Sachsen,0

In [15]:
# Counting observations after merge
company_regional['not_matched'].value_counts(dropna = False)
# as I expected 1375 did not match

not_matched
0    8136
1    1375
Name: count, dtype: int64

### Imputing values

After the merge, 1375 observation did not match to the regional_de df as expected. Here, I will impute values for the variables "bundesland", "region" and, "city". I wont impute values for the variables "habitants" and "area_sqkm", since I already checked that the total sum of these values are similar to the values expected for the whole Germany. Imputing these values for the missing data will alter the actual number of area and habitants for Germany. In this case, do-nothing is the best approach.

In [16]:
# Replacing NaN in variables that were not a match
company_regional['bundesland'] = company_regional.groupby('bundesland_en')['bundesland'].transform(lambda x: x.fillna(x.mode().iloc[0]))

In [17]:
# See results
subset = company_regional[['bundesland_en','bundesland']]
subset

     bundesland_en bundesland
0           Saxony    Sachsen
1           Saxony    Sachsen
2           Saxony    Sachsen
3           Saxony    Sachsen
4           Saxony    Sachsen
...            ...        ...
9506     Thuringia  Thüringen
9507     Thuringia  Thüringen
9508     Thuringia  Thüringen
9509     Thuringia  Thüringen
9510     Thuringia  Thüringen

[9511 rows x 2 columns]

In [18]:
# Rename variable using df.rename(columns = {'old_name' : 'new_name'}, inplace = True)
company_regional.rename(columns = {'bundesland' : 'bundesland_de'}, inplace = True)

In [19]:
# Replacing NaN in variables that were not a match
company_regional['region'] = company_regional.groupby('bundesland_en')['region'].transform(lambda x: x.fillna(x.mode().iloc[0]))

In [20]:
# Replacing NaN in variables that were not a match
company_regional['city'] = company_regional.groupby('region')['city'].transform(lambda x: x.fillna(x.mode().iloc[0]))

In [21]:
# See results
subset = company_regional[['bundesland_en','bundesland_de', 'region', 'city']]
subset

     bundesland_en bundesland_de                 region             city
0           Saxony       Sachsen                Dresden          Dresden
1           Saxony       Sachsen                Dresden          Dresden
2           Saxony       Sachsen        Erzgebirgskreis  Aue-Bad Schlema
3           Saxony       Sachsen                Dresden          Dresden
4           Saxony       Sachsen                Dresden          Dresden
...            ...           ...                    ...              ...
9506     Thuringia     Thüringen  Unstrut-Hainich-Kreis     Südeichsfeld
9507     Thuringia     Thüringen  Unstrut-Hainich-Kreis  Unstrut-Hainich
9508     Thuringia     Thüringen  Unstrut-Hainich-Kreis      Marolterode
9509     Thuringia     Thüringen  Unstrut-Hainich-Kreis       Unstruttal
9510     Thuringia     Thüringen  Unstrut-Hainich-Kreis           Körner

[9511 rows x 4 columns]

In [22]:
# See results
company_regional.head()

,plz_imputed,company_total,labor_total,cancer_total,bundesland_en,plz_original,plz,habitants,area_sqkm,city,region,bundesland_de,not_matched
0,01067,393,0,0,Saxony,01067,01067,11957.0,6.866839,Dresden,Dresden,Sachsen,0
1,01069,107,0,0,Saxony,01069,01069,25483.0,5.339213,Dresden,Dresden,Sachsen,0
2,01076,1,0,0,Saxony,01076,NaN,NaN,NaN,Aue-Bad Schlema,Erzgebirgskreis,Sachsen,1
3,01097,127,1,0,Saxony,01097,01097,14821.0,3.298022,Dresden,Dresden,Sachsen,0
4,01099,202,1,0,Saxony,01099,01099,28018.0,58.505818,Dresden,Dresden,Sachsen,0

### Dropping columns

In [23]:
# Dropping function with function df.drop(columns = ['variable'])
company_regional = company_regional.drop(columns = ['plz', 'not_matched'])

## 4.3 Exporting dataframe

In [24]:
# Check size before exporting
company_regional.shape

(9511, 11)

In [25]:
# Exporting to prepared data folder
#"index = False" avoids the automatic creation of an unnamed column in the exported csv file
company_regional.to_csv(os.path.join(path, '02_Data','Prepared_data', 'company_regional_step2.csv'), index = False)